<!doctype html>
<html lang="es">
    <head>
        {{template "_head.html" .}}
        <title>500 Server Error</title>
    </head>
    <body>
        <div class="container">
            {{template "_nav.html"}}

            <div class="row-fluid">
                <h1>Contacto</h1>
            </div>
            <div class="row-fluid">
                <div class="span12 font-size-18px">500 Server Error</div>
            </div>

            {{template "_footer.html"}}
        </div>
        {{template "_scripts.html"}}
        <script type="text/javascript">
            document.getElementById("contacto").classList.add("active");
        </script>
    </body>
</html>
